<div class="row">
  <div *ngFor="let product of products" class="col-md-2">
    <div class="product px-2 py-4">
      <img src="{{ product.imageCover }}" class="w-100" alt="" />
      <span class="fw-bold text-main font-sm">
        {{ product.category.name }}</span
      >
      <h3 class="h6 fw-bolder">
        {{ product.title.split(" ").slice(0, 2).join(" ") }}
      </h3>
      <div class="d-flex align-items-center justify-content-between">
        <span class="text-muted fw-bold font-sm">{{ product.price }} EGP</span>
        <div>
          <span class="text-muted fw-bold font-sm">{{
            product.ratingsAverage
          }}</span>
          <i class="fas fa-star rating-color"></i>
        </div>
      </div>
    </div>
  </div>
</div>
